<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Acceso Seguro</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <div class="login-card">
        <h2>🔒 Control de Acceso</h2>
        <form action="../dashboard/home.html" method="GET">
            <div class="form-group">
                <label>Usuario DevOps:</label>
                <input type="text" placeholder="Ingresa tu usuario" required>
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" placeholder="••••••••" required>
            </div>
            <button type="submit" class="btn-submit">Autenticarse</button>
        </form>
        <p><a href="../dashboard/about.html">Saber más sobre la plataforma</a></p>
    </div>
</body>
</html>

